<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<!--  
		최상위 설정파일의 경로를 등록한 부분 
		=> 스프링에서 최상위 설정파일은 root-context.xml 파일임을 알 수 있다.
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- 
		모든 설정파일을 연결할 수 있는 도구를 등록한 부분
	 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 
		응용 프로그램의 요청 처리를 어떻게 할건지 등록한 부분
		즉, 요청을 처리하는 메인 서블릿을 등록한 부분 (무조건 있어야함)
		=> 해당 서블릿명 : DispatcherServlet (요청 분배자) ******제일중요
	 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<!--
			추가적인 설정에 관련된 내용을 등록
			servlet-context.xml : 추가적인 요청 사항을 등록해주는 부분이다. (도구들 == beans)
		-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> <!-- 우선순위 1번이다. -->
	</servlet>
		
	<!-- 기존의 url 맵핑값 설정 부분과 비슷 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
